.card {
  width: 540px;
  height: 300px;
  border-radius: 18px; 
  margin: auto;
  
}

.chip {
  width: 10vh;
  height: auto;
}

.Gold {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch8-mynt-22.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b97d2d2a2a555f2257a484df94a458af');
}

.Gold-back {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch8-mynt-22.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b97d2d2a2a555f2257a484df94a458af');
  transform: scaleX(-1);
}


.Black {
  background-image: url('https://t3.ftcdn.net/jpg/05/08/92/24/360_F_508922418_G2GsexjzMh6NVBxjiy51DDCiU1KzL3v7.jpg');
  color: #DAD6CD;
}
.Black-back {
  background-image: url('https://t3.ftcdn.net/jpg/05/08/92/24/360_F_508922418_G2GsexjzMh6NVBxjiy51DDCiU1KzL3v7.jpg');
  transform: scaleX(-1);
}

.Platinum {
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/552/079/original/platinum-silver-modern-abstract-background-luxury-silver-metal-background-free-vector.jpg');
}
.Platinum-back {
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/552/079/original/platinum-silver-modern-abstract-background-luxury-silver-metal-background-free-vector.jpg');
  transform: scaleX(-1);
}

.Full {
  background-image: url('https://img.freepik.com/premium-photo/paper-cut-style-design-modern-dynamic-blue-color-wave-style-wallpaper-advertising-background_551880-951.jpg');
  color: #DAD6CD;
}
.Full-back {
  background-image: url('https://img.freepik.com/premium-photo/paper-cut-style-design-modern-dynamic-blue-color-wave-style-wallpaper-advertising-background_551880-951.jpg');
  transform: scaleX(-1);
}