/* bege #DAD6CD */
/* azul #3A99C9 */
/* amarelo #FAAC01 */
/* verde #4AB43A */
/* rosa #F26C60 */
/* preto #1F1F21 */

#welcome {
  margin-top: -40px;
}

a {
  color: #1F1F21 ;
  cursor: pointer;
}

a:hover {
  color: #1F1F21;
  text-decoration: none;
}

.jumbotron {
  border-radius: 25px; 
  background-color: #DAD6CD;
  width: max-content;
}

.form-control:focus {
  box-shadow: 0px 0px 10px #1F1F21;
  border-color: #1F1F21;
}

.center-text {
  text-align: center;
}


