#welcome {
  margin-top: -40px;
}

.jumbotron {
  border-radius: 25px; 
  background-color: #d1d0c87a;
  width: max-content;
  margin: -30px auto -20px auto;
}

.form-control:focus {
  box-shadow: 0px 0px 10px #1F1F21;
  border-color: #1F1F21;
}

.center-text {
  text-align: center;
}

/* LOGIN */

.login-container-form-item {
  margin: 10px;
}

.login-btn {
  margin-top: 30px;
}

.login-text {
  max-width: 340px;
  font-size: 16px;
  margin-right: 20px;
}

.conatiner-longin-page {
  border-radius: 25px; 
  background-color: white;
  max-width: max-content;
  display: flex;
  margin: 50px auto auto 100px;
}

.header-img {
  max-height: 200px;
  max-width: auto;
  border-radius: 23%;
  margin-top: 13%;
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #1F1F21 ;
}

/* Sing Up */

.container-singUp-page{
  display:flex; 
  justify-content: space-evenly; 
  align-items: center;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.half-page-container {
  height: 110%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.right {
  right: 0;
  background-color: #1F1F21;
  width: 60%;
}

.left {
  left: 0;
  background-color: white;
  width: 40%;
}