/* bege #DAD6CD */
/* azul #3A99C9 */
/* amarelo #FAAC01 */
/* verde #4AB43A */
/* rosa #F26C60 */
/* preto #1F1F21 */

#welcome {
  margin-top: -40px;
}

a {
  color: #1F1F21 ;
}

a:hover {
  color: #1F1F21;
}

.jumbotron {
  border-radius: 25px; 
  background-color: #DAD6CD;
  width: max-content;
}

.form-control:focus {
  box-shadow: 0px 0px 10px #1F1F21;
  border-color: #1F1F21;
}

.center-text {
  text-align: center;
}

/* LOGIN */

.login-container-form-item {
  margin: 10px;
}

.login-btn {
  margin-top: 30px;
}

.login-text {
  max-width: 340px;
  font-size: 16px;
  margin-right: 20px;
}

.container-login-page {
  border-radius: 25px; 
  background-color: #DAD6CD;
  max-width: max-content;
  display: flex;
  margin: 5vh 70vh auto auto;
}

.header-img {
  max-height: 200px;
  max-width: auto;
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.networks-login {
  width: 10vh;
}


/* Sing Up */

.container-singUp-page{
  display:flex; 
  justify-content: space-evenly; 
  align-items: center;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

.half-page-container {
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.right {
  right: 0;
  background-color: #1F1F21;
  width: 60%;
}

.left {
  left: 0;
  background-color: #DAD6CD;
  width: 40%;
}

/* home */

.home-containers {
  display: flex;
  justify-content: space-around;
}

.home-card {
  margin: 10px 0 10px 0;
  width: 450px;
  height: 250px;
  border-radius: 18px; 
  text-align: center;
  font-size: large;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .2s;
}

.home-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Clients */

.clients-container {
  width: 90%;
  margin:0 auto 0 auto;
  text-align: center;
}

.form-clients:focus {
  animation: input-grow 0.25s ease-in forwards;
}

.form-clients:not(:focus) {
  animation: input-decrese 0.25s ease-in forwards;
}

.icons {
  cursor: pointer;
}

.info {
  color: #1F1F21;
  margin-bottom: 10vh;
}

/* Card */

.card {
  width: 540px;
  height: 300px;
  border-radius: 18px; 
  margin: auto;
  
}

.chip {
  width: 10vh;
  height: auto;
}

.Gold {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch8-mynt-22.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b97d2d2a2a555f2257a484df94a458af');
}

.Gold-back {
  background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch8-mynt-22.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=b97d2d2a2a555f2257a484df94a458af');
  transform: scaleX(-1);
}


.Black {
  background-image: url('https://t3.ftcdn.net/jpg/05/08/92/24/360_F_508922418_G2GsexjzMh6NVBxjiy51DDCiU1KzL3v7.jpg');
  color: #DAD6CD;
}
.Black-back {
  background-image: url('https://t3.ftcdn.net/jpg/05/08/92/24/360_F_508922418_G2GsexjzMh6NVBxjiy51DDCiU1KzL3v7.jpg');
  transform: scaleX(-1);
}

.Platinum {
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/552/079/original/platinum-silver-modern-abstract-background-luxury-silver-metal-background-free-vector.jpg');
}
.Platinum-back {
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/552/079/original/platinum-silver-modern-abstract-background-luxury-silver-metal-background-free-vector.jpg');
  transform: scaleX(-1);
}

.Full {
  background-image: url('https://img.freepik.com/premium-photo/paper-cut-style-design-modern-dynamic-blue-color-wave-style-wallpaper-advertising-background_551880-951.jpg');
  color: #DAD6CD;
}
.Full-back {
  background-image: url('https://img.freepik.com/premium-photo/paper-cut-style-design-modern-dynamic-blue-color-wave-style-wallpaper-advertising-background_551880-951.jpg');
  transform: scaleX(-1);
}


/* ANIMATIONS */

/* #img-animation {
  animation: up 1.5s ease-in forwards;
} */

@keyframes up {
  100% {
    transform: translateY(-100%);
  }
  
}

@keyframes input-grow {
  100% {
    width: 26%;
  }
}

@keyframes input-decrese {
  0% {
    width: 26%;
  }
  100% {
    width: 20%;
  }
}