<div style="background-color: white; height:100vh">
  <div style="background-color: #1F1F21; display:flex; justify-content: center;">
    <img style="width:40px" src="../assets/img/wallet_without_black.png"/>
  </div>
  <h1 style="text-align: center;">Gerenciamento Clientes</h1>
  <hr>
  <div class="clients-container">
    <div style="display:flex; justify-content: space-between;">
      <input class="form-control form-clients" type="text" ng-model="search" placeholder="Cliente..." style="width: 20% ;" />
      <button class="btn btn-block" style="width: 20%; background-color: #3A99C9; color: white;">Adicionar</button>

    </div>

    <hr>
  
    <table ng-show="allClients.length > 0" class="table table-bordered table-secondary ">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Idade</th>
        <th>Patrimônio</th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat="client in allClients | filter: {name: search}">
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.age}}</td>
        <td>{{client.net_worth | currency: 'R$' : 2}}</td>
        <td><a><i class="fa fa-pencil" aria-hidden="true"></i></i></a></td>
        <td><a><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
      </tr>
    </table>

  </div>
</div>