<div style="background-color: white; height:100vh">
  <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 5vh 0 5vh;">
    <div style="align-items: center;">
      <a ui-sref="home">
        <i  class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
      </a>
    </div>
    <h1 style="text-align: center;">Gerenciamento Clientes</h1>
    <a>
      <i class="fa fa-sign-out fa-2x icons" aria-hidden="true" style="background-color:white;" ng-click="logOut()"></i>
    </a>
  </div>

  <hr style="margin-top: -3px;">

  <div class="clients-container">
    <div style="display:flex; justify-content: space-between;">
      <input class="form-control form-clients" type="text" ng-model="search" placeholder="Cliente..." style="width: 20% ;" />
      <!-- <button class="btn btn-block" ng-click="principal()" style="width: 20%; background-color: black; color: white;">Voltar</button> -->
      <button class="btn btn-block" ng-click="goToAddClients()" style="width: 11.8%; background-color: #3A99C9; color: white;">Adicionar</button>

    </div>

    <hr>
  
    <table ng-show="allClients.length > 0" class="table table-bordered table-secondary">
      <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Idade</th>
        <th>Patrimônio</th>
        <th>Cartões</th>
        <th></th>
        <th></th>
      </tr>
      <tr ng-repeat="client in allClients | filter: {name: search} | orderBy: 'name'">
        <td>{{client.name}}</td>
        <td>{{client.email}}</td>
        <td>{{client.age}}</td>
        <td>{{client.net_worth | currency: 'R$ ' : 2}}</td>
        <td><i class="fa fa-credit-card icons" aria-hidden="true" ng-click="goToPath(client.id, 'client-cards')"></i></td>
        <td><i class="fa fa-pencil icons" aria-hidden="true" ng-click="goToPath(client.id, 'clients-edit')"></i></td>
        <td><i class="fa fa-trash-o icons" aria-hidden="true" ng-click="deleteClient(client.id)"></i></td>
      </tr>
    </table>
  </div>
</div>