<div>
  <form class="jumbotron" style="background-color: #DAD6CD;">
    <div style="margin: -40px auto -40px auto;">
        <h2 style="margin-bottom:30px">CLIENT INFO</h2>
        <hr>
        <div class="login-container-form-item">
            <label for="email">E-mail</label>
            <input class="form-control" type="text" ng-model="" ng-required="true" ng-minlength="10" placeholder=""/>
        </div>
        <div class="login-container-form-item"> 
            <label for="password">Senha</label>
            <input class="form-control" type="password" ng-model="" ng-minlength="6" ng-required="true" placeholder=""/>
        </div>
        <div class="login-container-form-item"> 
            <label for="password">Idade</label>
            <input class="form-control" type="password" ng-model="" ng-minlength="6" ng-required="true" placeholder=""/>
        </div>
        <div class="login-container-form-item"> 
            <label for="password">Patrimônio</label>
            <input class="form-control" type="password" ng-model="" ng-minlength="6" ng-required="true" placeholder=""/>
        </div>
        <div class="login-container-form-item">
            <button class="btn btn-dark btn-block login-btn" ng-click="" ng-disabled="">Login</button>
        </div>
    </div>
</form>
</div>