<div style="background-color: white; height:100vh">
  <nav class="navbar navbar-light bg-dark" >
    <a class="navbar-brand" style="display: flex; gap: 3vh; cursor: pointer;" ui-sref="home">
      <img src="../assets/img/wallet_without_black.png" width="50" class="d-inline-block align-top" alt="">
      <h1 style="margin: auto; color: white;">CarteiraTop</h1>
    </a>

  </nav>

  
  <hr style="margin-top: -3px;">
  
  <div class="clients-container">
    <div style="display:flex; justify-content: space-between;">
      <div style="width: 11.8%; text-align: left;">
        <a ui-sref="clientsHome">
          <i  class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <h3 style="text-align: center;" id="x">{{client.name}}</h3>
      <button class="btn btn-block" ng-click="goToCreateCard(client.CardType)" style="width: 11.8%; background-color: #4AB43A; color: white;">Novo cartão</button>

    </div>

    <hr>
  
    <table ng-show="cards.length > 0" class="table table-bordered table-secondary">
      <tr>
        <th>Nome impresso</th>
        <th>Número</th>
        <th>cvv</th>
        <th>Data de validade</th>
        <th>Limite</th>
        <th>Visualizar</th>
        <th></th>
      </tr>
      <tr ng-repeat="card in cards | filter: {name: search} | orderBy: 'name'">
        <td>{{card.printed_name}}</td>
        <td>{{card.number}}</td>
        <td>{{card.cvv}}</td>
        <td>{{card.expiration_date | date: 'MM/yyyy'}}</td>
        <td ng-if="card.limit">{{card.limit | currency: 'R$ ': 2 }}</td>
        <td ng-if="!card.limit">Ilimitado</td>
        <td><i class="fa fa-eye icons" aria-hidden="true" ng-click="goToPath(card.id, 'card-visualization', card.card_id)"></i></td>
        <td><i class="fa fa-trash-o icons" aria-hidden="true" ng-click="deleteCard(card.id, clientId)"></i></td>
      </tr>
    </table>
  </div>
</div>