<div style="background-color:#1F1F21;">
    <div class="container-login-page jumbotron" style="width:fit-content; height:80vh">
        <div style="display:flex; flex-direction: column; align-items: center; gap: 3vh;">
            <h1 id="welcome">Bem-vindo</h1>
            <h3 class="login-text">Esse aqui é o lugar onde você pode organizar sua vida e de seus clientes!</h3>
            <img class="header-img" src="../assets/img/icon_wallet.png"/>
            <div style="margin-top: 6vh;">
                <img src="../assets/img/MasterCard.png" alt="" class="networks-login">
                <img src="../assets/img/ELO.png" alt="" class="networks-login">
                <img src="../assets/img/VISA.png" alt="" class="networks-login">
            </div>
        </div>
        <form class="jumbotron" style="background-color: rgba(255, 255, 255, 0.74);">
            <div style="margin: -40px auto -40px auto;">
                <h2 style="margin-bottom:30px">Iniciar CarteiraTop</h2>
                <hr>
                <div class="login-container-form-item">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" ng-model="manager.email" ng-required="true" ng-minlength="10" placeholder=""/>
                </div>
                <div class="login-container-form-item"> 
                    <label for="password">Senha</label>
                    <input class="form-control" type="password" ng-model="manager.password" ng-minlength="6" ng-required="true" placeholder=""/>
                </div>
                <div class="login-container-form-item">
                    <button class="btn btn-dark btn-block login-btn" ng-click="login()" ng-disabled="!manager.email || !manager.password">Login</button>
                </div>
                <br>
                <br>
                <h7 style="margin-top: 10px">Não tem uma conta? <a  ui-sref="new-manager">Cadastre-se aqui</a></h7>
            </div>
        </form>
    </div>
</div>