<div style="display:flex; width: 1800px;">
    <div class="container-singUp-page half-page-container left"  >
        <div style="margin-top: -100px;">
            <img class="header-img" style="margin-top: 0;" src="../assets/img/icon_wallet.png"/>
            <h2 class="center-text">CarteiraTop</h2>
        </div>
    </div>
    <div class="half-page-container right">
        <div class="container-singUp-page" style="margin-top: 60px;">
            <form class="jumbotron" style=" margin-top: 50px; margin-left: 10%; margin-right: 10%; background-color: white;">
            <div style="margin: -30px auto -30px auto">
                <h2 class="center-text">Cadastre-se</h2>
                <hr>
                <div class="login-container-form-item">
                    <label for="name">Nome Completo</label>
                    <input class="form-control" type="text" ng-model="managerData.name" ng-required="true" ng-minlength="6" placeholder=""/>
                </div>
                <div class="login-container-form-item">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="text" ng-model="managerData.email" ng-required="true" ng-minlength="10" placeholder=""/>
                </div>
                <div class="login-container-form-item"> 
                    <label for="password">Senha</label>
                    <input class="form-control" type="password" ng-model="managerData.password" ng-required="true" ng-minlength="6" placeholder=""/>
                </div>
                <div ng-show="err" class="alert alert-danger">
                    <h6 class="center-text" >Dados inválidos</h6>
                </div>
                <div class="login-container-form-item">
                    <button class="btn btn-dark btn-block login-btn" ng-click="create()" ng-disabled="!managerData.email || !managerData.password || !managerData.name">Cadastrar</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>